* {
  font-family: serif;
}

window#waybar {
  background: rgba(252, 116, 150, 0.1);
  color: #fdf6e3;
}

window > * > *:not(.modules-center) > * > * {
  font-size: 1.5rem;
  background: rgb(45, 45, 45);
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 0.8) 0%,
    rgba(5, 5, 5, 0.7) 100%
  );
  border-radius: 5rem;
  padding: 5px 15px;
  margin: 5px 2px;
}

#idle_inhibitor, #custom-notification, #pulseaudio, #custom-kde-connect {
    font-size: 30px;
}

.modules-left > *:first-child > * {
  margin-left: 25px;
}

.modules-right > *:last-child > * {
  margin-right: 25px;
}

#battery.warning {
  background: linear-gradient(
    180deg,
    rgb(181, 148, 0) 0%,
    rgb(121, 127, 0) 100%
  );
}
#battery.critical {
  background: linear-gradient(180deg, rgb(220, 66, 0) 0%, rgb(179, 0, 0) 100%);
}
* > #battery.charging {
  background: linear-gradient(
    180deg,
    rgb(0, 209, 31) 0%,
    rgb(0, 134, 22) 100%
  );
}

#workspaces {
  padding: 10px 5px;
  border-radius: 5rem;
  background: linear-gradient(
    180deg,
    rgba(85, 85, 85, 0.8) 0%,
    rgba(60, 60, 60, 0.7) 100%
  );
}

#workspaces button {
  font-size: 2.5rem;
  color: #fdf6e3;
  border-radius: 5rem;
  padding: 5px 15px;
  margin: 0 5px;
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 0.8) 0%,
    rgba(5, 5, 5, 0.7) 100%
  );
}

#workspaces button.active {
  background: linear-gradient(
    180deg,
    rgb(0, 209, 209) 0%,
    rgb(0, 60, 164) 100%
  );
}

#idle_inhibitor.activated {
  background: linear-gradient(
    180deg,
    rgb(202, 0, 209) 0%,
    rgb(131, 0, 164) 100%
  );
}

#custom-notification.notification {
  background: linear-gradient(
    180deg,
    rgb(0, 209, 209) 0%,
    rgb(0, 60, 164) 100%
  );
}

#network.disconnected {
    background: linear-gradient(180deg, rgb(220, 66, 0) 0%, rgb(179, 0, 0) 100%);
}
