/*
 * vim: ft=less
 */

@define-color cc-bg rgba(0, 0, 0, 0.8);

@define-color noti-border-color rgba(255, 255, 255, 0.15);
@define-color noti-bg-darker rgba(50, 50, 50, 0.9);
@define-color noti-bg-focus rgba(68, 68, 68, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);

@define-color text-color rgb(255, 255, 255);
@define-color text-color-disabled rgb(150, 150, 150);

@define-color bg-selected rgb(0, 128, 255);

.notification-row {
  outline: none;
  background: rgba(0, 0, 0, 0)
}

.notification-row:hover {
  background: rgba(0, 0, 0, 0)
}

.notification {
  border-radius: 12px;
  margin: 6px 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 12px;
}

.close-button {
  background: linear-gradient(180deg, rgb(220, 66, 0) 0%, rgb(110, 0, 0) 100%);
  color: @text-color;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: linear-gradient(180deg, rgb(255, 77, 1) 0%, rgb(151, 0, 0) 100%);
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(5, 5, 5, 0.9) 100%
  );
  border: 1px solid @noti-border-color;
  color: @text-color;
  transition: all 0.15s ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: linear-gradient(
    180deg,
    rgb(50, 50, 50) 0%,
    rgba(28, 28, 28, 0.9) 100%
  );
}

.notification-default-action {
  border-radius: 12px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid @noti-border-color;
}

.inline-reply {
  margin-top: 8px;
}
.inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 12px;
}
.inline-reply-button {
  margin-left: 4px;
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(5, 5, 5, 0.9) 100%
  );
  border: 1px solid @noti-border-color;
  border-radius: 12px;
  color: @text-color;
}
.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid transparent;
}
.inline-reply-button:hover {
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(5, 5, 5, 0.9) 100%
  );
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.control-center {
  background: @cc-bg;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: alpha(black, 0.25);
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color: @text-color;
  text-shadow: none;
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(5, 5, 5, 0.9) 100%
  );
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 12px;
}
.widget-title > button:hover {
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(5, 5, 5, 0.9) 100%
  );
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgb(55, 55, 55) 0%,
    rgba(20, 20, 20, 0.9) 100%
  );
  border: 1px solid @noti-border-color;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: linear-gradient(
    180deg,
    rgb(0, 209, 209) 0%,
    rgb(0, 60, 164) 100%
  );
}
.widget-dnd > switch slider {
  background: linear-gradient(
    180deg,
    rgb(199, 199, 199) 0%,
    rgba(153, 153, 153, 0.9) 100%
  );
  border-radius: 12px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}
